
/* Define el background de todo 
y pone sans-serif como tipografía determinada */


@media(max-width: 1200px){


    /*AJUSTE VENTANA RIDER*/
    div.card{  
        width:inline-flex;
        height:inline-flex; 
        margin-left: -20px;
        



    }

    div.center{ 
        width:inline-flex; 
        height:inline-flex; 
        margin-right: 0px; 
        margin-left: -40px;

        margin-top: -10px;  
    }

    /*AJUSTE ORDEN RIDER*/

    div.card3{
        width:100%;
        height:auto;   
        margin-left: 0px;
        margin-top: 100px;
        background-color: #fff;
    }
        
    div.center3{
        width:auto;
        height:auto;  
        margin-top: 10px; 
        background-color: #fff;
    }

    /*AJUSTE VENTANA LOGIN*/
    div.card1{
        width:100%;
        height:auto;   
        margin-left: 0px;
        margin-top: 0px;
    }

    div.center1{
        width:100%;
        height:auto;  
        margin-top: 120px; 
        margin-left: 0px;
    }

    /*AJUSTE VENTANA CLIENTES*/

    div.card2{
        width:inline-flex;
        height:auto; 
        margin-top: 0px;
        margin-left: -10px;
        margin-right: 0px;

    }

    div.center2{
        width:inline-flex;
        height:auto; 
        margin-top: 0px; 
    }




}



body {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/ticomo01.appspot.com/o/images%2FBackground.png?alt=media&token=5a7f79c7-c7bb-4717-a9c3-d3e52680b147");
    background-size: inline-flex; 
    background-attachment: inline-flex; 
    font-family: 'Roboto', sans-serif;
}

/* Tratamiento del logo de la empresa
    - Utilizado en:
        - Página AddAdmin
*/
.logo {
    margin-left: 120px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: -100px;
}

.logo1 {
    margin-left: 150px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: -50px;
}
/* Para centrar los elementos
    - Utilizado en:
        - Página AddAdmin: centrar la card (box)
*/
    /*AJUSTE VENTANA RIDER*/
.center {
    display: inline-flex;
    padding: 0px;
    margin-right: inline-flex;
    margin-left: inline-flex;
}

    /*AJUSTE VENTANA CLIENTE*/
.center2 {
    display: auto;
    padding: 0px;
    margin-left: -40px;
    margin-right: 0px;

    }


/* Para centrar los elementos dentro de los tabs */
.centerInTab {
    display: block;
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 80px;
    padding: 0px;
}
.centerInTabV2 {
    display: block;
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
}
.centerImage {
    display: block;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
}

/* Estilo de la box que contiene los elementos de los formularios
    - Utilizado en:
        - Muchas
*/


/*AJUSTE VENTANA RIDER*/

.card {
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 30px 40px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.7);
    margin-right: -140px;
    margin-left: 0px;
    position: relative;
    display: flex;
    flex-direction: column;


}

.card3 {
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 30px 40px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.7);
    margin-right: -140px;
    margin-left: 0px;
    position: relative;
    display: flex;
    flex-direction: column;

}

/*AJUSTE VENTANA CLIENTE*/

.card2 {
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 30px 40px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.7);
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
    display: flex;
    flex-direction: column;

}

/*AJUSTE VENTANA LOGIN */

.card1 {
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 30px 40px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.7);
    margin-right: 900px;
    margin-left: 900px;
    margin-bottom: inline-block;
    position: relative;
    display: block;
    flex-direction: column;

}

/* Estilo de la box que contiene los elementos de los formularios dentro de tabs */
.cardInTab {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
    border: 1px solid hsla(21, 19%, 21%, 0.127);
    padding: 5px 5px;
    border-radius: 0.25rem;
}

.cardInColumn {
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 30px 40px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.7);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Estilo de la box que contiene los elementos en columnas:
    - Utilizado generalmente para inputs de tipo submit en los formularios
*/
.columns {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
}

.columnsForIcons {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
}

/* Características de las labels: */
label {
    color: black;
    margin-left: 10px;
}

/* Definición de los inputs: */
/* TEXT */
input[type="text"],
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid rgb(87, 87, 87);
    font-size: 18px !important;
    font-weight: 300;
    color: rgb(87, 87, 87);
}

/* PASSWORD */
input[type="password"],
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid rgb(87, 87, 87);
    font-size: 18px !important;
    font-weight: 300;
    color: rgb(87, 87, 87);
}

/* SUBMIT */
input[type="submit"],
textarea,
button {
    font-size: .9em;
    color: white;
    background: #3F322B;
    outline: none;
    border: 1px solid #000000;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    width: 100%;
    letter-spacing: 4px;
    margin-right: 10px;
    margin-left: 10px;
    letter-spacing: 3px;

}

input[type="submit"]:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    background: #8DC26F;
    color: black;
}

.form-control {
    border: 1px solid black
  }
  
  .text-danger-custom {
    color: red;
    font-size: 1rem;
  }

.rider{

    color:#61412d;
    margin-left: 100px;

}

.cliente{

    color:#61412d;
    margin-left: 50px;

}

.icon{
float: right;
}

/* CHECKBOX */
input[type="checkbox"],
textarea,
button {
    padding: 8px 15px;
    background-color: #d6c2b500;
    border-radius: 5px !important;
    box-sizing: border-box;
    border: 1px solid black;
}

.button-custom {
    margin: 0px;
    color: #000000;
}

.button-custom-white {
    margin: 0px;
    color: #000000;
    border-color: #000000;
    background-color: #ffa43d;
}

/* TIPOS DE LETRA */
h2,
.h2,
h1,
.h1 {
    margin-top: 0px;
    margin-left: inline-flex;
    margin-bottom: 0.5rem;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 300;
    line-height: 1.2;
    color: #343a40;
}

h2, .h2 {
    font-size: calc(1.475rem + 2.7vw);
  }
  @media (min-width: 1200px) {
    h2, .h2 {
      font-size: 3.5rem;
    }
  }